* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    grid-template-rows: auto 100vh auto;
}

nav {
    width: auto;
    background-color: aqua;
    display: flex;
    align-items: center;
    height: 50px;
}

#searchbar {
    height: 20px;
    margin-left: 20px;
}

.navButton {
    margin: 20px;
}

section {
    margin: 30px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    margin: 30px;
    text-align: center;
}


footer {
    width: auto;
    background-color: aqua;
    display: flex;
    align-items: center;
    height: 50px;
}

.card {
    display: grid;
    grid-template-rows: auto 200px 50px;
    border: solid black 1px;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
}

.cardText {
    line-height: 1.6;
}

.reactions {
    background-color: aqua;
}

.image {
    max-height: 200px;
    margin: auto;
}

#titleInput {
    margin: 20px;
    padding: 10px;
}

#textInput {
    margin: 20px;
    width: 90%;
    height: 150px;
    padding: 10px;

    resize: none;
}
