* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    grid-template-rows: auto 100vh auto;
}

nav {
    width: auto;
    background-color: aqua;
    display: flex;
    align-items: center;
    height: 50px;
}

#searchbar {
    height: 20px;
    margin-left: 20px;
}

.navButton {
    margin: 20px;
}

section {
    margin: 30px;
    min-height: 90vh;
}
.title {
    margin: 30px;
    text-align: center;
}
.cardHolder {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}
.col1 {
    width: auto
}

.col3 {
    width: auto;
}

footer {
    width: auto;
    background-color: aqua;
    display: flex;
    align-items: center;
    height: 50px;
}

.card {
    display: grid;
    grid-template-rows: 30px 200px 150px 50px;
    grid-row-gap: 20px;
    border: solid black 1px;
    padding: 20px;
    border-radius: 15px;
}

.cardHeader {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cardText {
    line-height: 1.6;
}

.reactions {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image {
    max-height: 200px;
    margin: auto;
    background-color: aqua;
}

#comment {
    margin: 20px;
    width: 90%;
    height: 150px;
    padding: 10px;
    resize: none;
}
